@import "tailwindcss";

:root {
  --color-lime-50: oklch(0.958 0.092 132.37);
  --color-lime-100: oklch(0.915 0.219 131.14);
  --color-lime-200: oklch(0.835 0.222 130.86);
  --color-lime-300: oklch(0.768 0.204 130.85);
  --color-lime-400: oklch(0.676 0.18 130.99);
  --color-lime-500: oklch(0.591 0.157 130.89);
  --color-lime-600: oklch(0.499 0.133 130.86);
  --color-lime-700: oklch(0.405 0.108 130.68);
  --color-lime-800: oklch(0.313 0.083 131.24);
  --color-lime-900: oklch(0.229 0.061 131.13);
  --color-lime-950: oklch(0.174 0.047 130.24);

  --color-red-50: oklch(0.958 0.018 13.5);
  --color-red-100: oklch(0.926 0.035 14);
  --color-red-200: oklch(0.852 0.076 14.5);
  --color-red-300: oklch(0.78 0.123 15);
  --color-red-400: oklch(0.709 0.178 15.5);
  --color-red-500: oklch(0.637 0.224 16);
  --color-red-600: oklch(0.539 0.206 16.5);
  --color-red-700: oklch(0.441 0.168 16.5);
  --color-red-800: oklch(0.341 0.13 16);
  --color-red-900: oklch(0.243 0.092 15);
  --color-red-950: oklch(0.184 0.071 14);

  --color-orange-50: oklch(0.966 0.017 26.74);
  --color-orange-100: oklch(0.927 0.037 28.07);
  --color-orange-200: oklch(0.861 0.073 29.09);
  --color-orange-300: oklch(0.788 0.122 32.31);
  --color-orange-400: oklch(0.717 0.178 37.48);
  --color-orange-500: oklch(0.646 0.194 41.11);
  --color-orange-600: oklch(0.544 0.164 41.04);
  --color-orange-700: oklch(0.446 0.134 41.03);
  --color-orange-800: oklch(0.347 0.104 41.15);
  --color-orange-900: oklch(0.241 0.072 41.09);
  --color-orange-950: oklch(0.194 0.058 42.4);

  --color-yellow-50: oklch(0.97 0.03 95);
  --color-yellow-100: oklch(0.94 0.06 94);
  --color-yellow-200: oklch(0.9 0.1 93);
  --color-yellow-300: oklch(0.86 0.14 92);
  --color-yellow-400: oklch(0.82 0.17 91);
  --color-yellow-500: oklch(0.78 0.175 90);
  --color-yellow-600: oklch(0.68 0.155 89);
  --color-yellow-700: oklch(0.58 0.13 88);
  --color-yellow-800: oklch(0.5206 0.0913 87);
  --color-yellow-900: oklch(0.409 0.055 86);
  --color-yellow-950: oklch(0.2971 0.0197 85);

  --color-green-50: oklch(0.958 0.04 162);
  --color-green-100: oklch(0.926 0.07 162);
  --color-green-200: oklch(0.852 0.1 161);
  --color-green-300: oklch(0.78 0.128 160);
  --color-green-400: oklch(0.709 0.148 159);
  --color-green-500: oklch(0.637 0.155 158);
  --color-green-600: oklch(0.539 0.135 158);
  --color-green-700: oklch(0.441 0.11 159);
  --color-green-800: oklch(0.341 0.085 160);
  --color-green-900: oklch(0.243 0.06 161);
  --color-green-950: oklch(0.184 0.046 162);

  --color-teal-50: oklch(0.958 0.059 181.84);
  --color-teal-100: oklch(0.916 0.127 182.23);
  --color-teal-200: oklch(0.843 0.147 182.77);
  --color-teal-300: oklch(0.777 0.136 182.13);
  --color-teal-400: oklch(0.704 0.123 182.49);
  --color-teal-500: oklch(0.608 0.106 182.5);
  --color-teal-600: oklch(0.515 0.09 182.67);
  --color-teal-700: oklch(0.421 0.073 183.05);
  --color-teal-800: oklch(0.32 0.056 182.04);
  --color-teal-900: oklch(0.227 0.039 183.43);
  --color-teal-950: oklch(0.184 0.033 183.93);

  --color-blue-50: oklch(0.965 0.015 245);
  --color-blue-100: oklch(0.924 0.033 245);
  --color-blue-200: oklch(0.847 0.071 245);
  --color-blue-300: oklch(0.771 0.108 246);
  --color-blue-400: oklch(0.701 0.144 247);
  --color-blue-500: oklch(0.623 0.188 248);
  --color-blue-600: oklch(0.532 0.171 248);
  --color-blue-700: oklch(0.426 0.139 248);
  --color-blue-800: oklch(0.33 0.107 247);
  --color-blue-900: oklch(0.234 0.077 246);
  --color-blue-950: oklch(0.189 0.063 245);

  --color-purple-50: oklch(0.959 0.02 295.26);
  --color-purple-100: oklch(0.918 0.041 294.79);
  --color-purple-200: oklch(0.841 0.082 294.69);
  --color-purple-300: oklch(0.761 0.127 294.03);
  --color-purple-400: oklch(0.68 0.174 293.43);
  --color-purple-500: oklch(0.606 0.219 292.73);
  --color-purple-600: oklch(0.524 0.265 291.42);
  --color-purple-700: oklch(0.434 0.228 291.4);
  --color-purple-800: oklch(0.342 0.18 291.45);
  --color-purple-900: oklch(0.24 0.125 291.4);
  --color-purple-950: oklch(0.188 0.1 291.29);

  --color-magenta-50: oklch(0.96 0.018 0.51);
  --color-magenta-100: oklch(0.919 0.039 0.15);
  --color-magenta-200: oklch(0.839 0.086 0.66);
  --color-magenta-300: oklch(0.759 0.138 0.6);
  --color-magenta-400: oklch(0.674 0.21 0.51);
  --color-magenta-500: oklch(0.592 0.218 0.59);
  --color-magenta-600: oklch(0.498 0.183 0.76);
  --color-magenta-700: oklch(0.416 0.153 0.35);
  --color-magenta-800: oklch(0.327 0.121 0.84);
  --color-magenta-900: oklch(0.236 0.087 0.76);
  --color-magenta-950: oklch(0.186 0.069 1.14);

  --color-neutral-50: oklch(0.965 0.003 286.81);
  --color-neutral-100: oklch(0.922 0.006 264.6);
  --color-neutral-200: oklch(0.854 0.012 264.53);
  --color-neutral-300: oklch(0.775 0.018 264.48);
  --color-neutral-400: oklch(0.698 0.025 264.41);
  --color-neutral-500: oklch(0.629 0.027 265.49);
  --color-neutral-600: oklch(0.551 0.023 264.37);
  --color-neutral-700: oklch(0.449 0.019 266.11);
  --color-neutral-800: oklch(0.344 0.015 264.36);
  --color-neutral-900: oklch(0.243 0.011 260.69);
  --color-neutral-950: oklch(0.187 0.008 274.47);
}
